@import url('https://fonts.googleapis.com/css?family=Sen|Space+Mono&display=swap');

$mobile: 500px;
$tablet: 830px;
$desktop: 1200px;

$color-purple: #843DC2;
$color-cyan: #13D4B0;
$color-blue: #18C3F2;
$color-white: #FEFDF9;
$color-black: #2F2A33;
$color-hover: #1DE8DB;

html, body {
    background-color: $color-white;
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}

.landing-container {
    height: 100vh;
    width: 100%;
    background: $color-purple;
    background: linear-gradient(180deg, #600B96 0%, $color-purple 30%, #C376FF 100%);
    user-select: none;
}

.landing-image{
    position: absolute;
    width: 100vw;
    margin-left: -150px;
    margin-top: 8rem;
    max-width: 1800px;

    img svg {
        color: $color-white;
    }
}

.landing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.landing-logo {
    width: 80vw;
    max-width: 1300px;
    //margin-left: 7rem;
    margin: 10rem 0 3rem 2rem;

    img {
        width: 70vw;
        max-width: 500px;
    }

    @media only screen and (max-width: $desktop) {
        margin-left: 0;
    }
}

.landing-text {
    display: flex;
    justify-content: space-between;
    font-family: 'Sen', sans-serif;
    color: $color-white;
    font-size: 3rem;
    width: 80vw;
    max-width: 1300px;

    .title {
        font-weight: 900;
        margin-left: 4rem;
        font-size: 50px;
    }

    .organizer {
        display: flex;
        align-items: center;

        div {
            margin: 0 2rem;
        }
        
        img {
            height: 3rem;
            margin-right: 2rem;
        }
    }

    @media only screen and (max-width: $mobile) {
        flex-direction: column;
        font-size: 2rem;

        .title {
            font-size: 2.5rem;
        }

        .organizer {
            img {
                height: 10px;
            }
        }
    }

    @media only screen and (max-width: $tablet) {
        .organizer {
            div {
                margin: 0 1rem 0 0;
            }

            img {
                height: 2rem;
            }
        }
    }

    @media only screen and (max-width: $desktop) {
        flex-direction: column;

        .title{
            margin-left: 0;
        }
    }
}

#navbar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color-white;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;;
    max-width: 1300px;
    //background-color: $color-white;
    transition: box-shadow 100ms ease-in-out;

    .navbar-logo {
        padding: 2rem;
        width: 100px;
        user-select: none;
        cursor: pointer;

        @media only screen and (max-width: $tablet) {
            padding: 1rem;
        }
    }

    .navbar-links {
        display: flex;
        align-items: center;
        color: $color-cyan;
        font-size: 1.4rem;
        cursor: pointer;
        user-select: none;

        div {
            padding: 5px;
            margin: 0 10px;
        }

        .navbar-link {
            border-bottom: 2px solid rgba(0,0,0,0);
            transition: all 100ms ease-in-out;
            

            &:hover {
                color: $color-hover;
                border-bottom: 2px solid $color-hover;
            }

            @media only screen and (max-width: $mobile) {
                display: none;
            }

            @media only screen and (max-width: $tablet) {
                display: none;
            }
        }

        .navbar-button {
            color: white;
            background-color: $color-cyan;
            border-radius: 100px;
            width: 12rem;
            text-align: center;
            margin: 0 20px;
            padding: 10px;
            font-weight: 900;
            transition: all 100ms ease-in-out;

            &:hover {
                background-color: $color-hover;
                //font-size: 1.45rem;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.26);
}

.sticky + .content-wrapper {
    padding-top: 6rem;
}

.active {
    color: $color-blue;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1000px;
    //padding: 0 20px;
}

.content-section {
    margin: 10rem 0;
    padding: 10rem 0;

    .section-header {
        color: $color-purple;
        font-size: 4rem;
        font-weight: 900;
        margin: 0 3rem 5rem 3rem;
        z-index: 999;
        position: relative;
    }

    .section-text {
        font-family: 'Space Mono', monospace;
        color: $color-black;
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin: 3rem;
        max-width: 800px;
        z-index: 999;
        position: relative;

        ul {
            list-style: none;
            padding: none;
            line-height: 200%;

            li::before {
                content: "\2022";
                color: $color-cyan;
                //display: inline-block;
                width: 1rem;
                margin: 0 1rem 0 -2rem;
            }
        }

        img {
            border-radius: 3rem;
            width: 100%;
            max-width: 30rem;
            margin: 2rem 0;
        }
    }

    .section-image {
        z-index: 1;
    }

    @media only screen and (max-width: $tablet) {
        padding: 0;
        margin: 10rem 0;

        .section-header {
            font-size: 3rem;
            margin: 0 2rem 4rem 2rem;
        }

        .section-text {
            margin: 0 2rem 0 2rem;
            font-size: 1.2rem;
        }
    }

    @media only screen and (max-width: $mobile) {
        margin: 5rem 0;

        .section-header {
            font-size: 2rem;
            margin: 0 1rem 2rem 1rem;
        }

        .section-text {
            margin: 0 1rem;
            font-size: 1.2rem;

            img {
                border-radius: 2rem;
                width: 90%;
                height: 90%;
                //margin: 1rem;
            }
        }
    }
}

#janne {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80vw;
    max-width: 1000px;

    &:nth-child(0) {
        width: 60%;
    }

    @media only screen and (max-width: $tablet) {
        flex-direction: column;
        justify-content: center;
    }
}

.section-image {
    z-index: 0;
    position: absolute;
    width: 100vw;

    @media only screen and (max-width: $tablet) {
        display: none;
    }

    img {
        z-index: 1;
    }
}

#img1 {
    right: 0;
    width: 93%;
    margin-top: 2rem;
}

#img2 {
    left: 0;
    width: 60%;
    margin-top: 45rem;
}

#img3 {
    right: 0;
    width: 35%;
    //margin-top: 10rem;
}

#img4 {
    left: 0;
    width: 50%;
    margin-top: 5rem;
}

.register-wrapper {
    background: $color-cyan;
    background: linear-gradient(180deg, $color-cyan 0%, $color-cyan 40%, #07C3AD 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.register {
    width: 100%;
    max-width: 1000px;
    margin: 20rem 0;

    .register-header {
        color: $color-white;
        font-size: 4rem;
        font-weight: 900;
        margin: 0 3rem 5rem 3rem;
    }

    .register-block {
        margin: 0 3rem 4rem 3rem;

        p {
            font-size: 1.2rem;
            font-family: 'Space Mono', monospace;
        }

        a {
            text-decoration: none;
            text-align: center;
            padding: 1.3rem;

            .button {
                padding: 1.5rem 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                border-radius: 4rem;

                transition: all 100ms ease-in-out;
            }

            .primary {
                background-color: $color-purple;
                color: white;

                &:hover {
                    background-color: $color-white;
                    color: $color-cyan;
                }
            }

            .secondary {
                border: 2px solid $color-purple;
                color: $color-purple;

                &:hover {
                    background-color: rgba(255,255,255,0.2);
                    border: 2px solid $color-white;
                    color: $color-white;
                }
            }
        }
    }

    @media only screen and (max-width: $tablet) {
        margin: 5rem 0;

        .register-header {
            font-size: 3rem;
            margin: 0 2rem 4rem 2rem;
        }

        .register-block {
            margin: 0 2rem 4rem 2rem;
        }
    }

    @media only screen and (max-width: $mobile) {
        margin: 5rem 0;

        .register-header {
            font-size: 1.5rem;
            margin: 0 1rem 2rem 1rem;
        }

        .register-block {
            margin: 0 1rem 4rem 1rem;
        }
    }
}

.footer-wrapper {
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    max-width: 1000px;
    margin: 200px 0;
    color: $color-white;
}

.footer-element {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem 5rem 1rem;

    .info-header {
        font-size: 1.4rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    .info-row {
        font-size: 1.2rem;
        font-family: 'Space mono', monospace;
    }

    a {
        width: 20%;
        min-width: 10rem;

        img {
            width: 100%;
        }
    }

    @media only screen and (max-width: $mobile) {
        flex-direction: column;

        a {
            margin-top: 2rem;
        }
    }
}