@import url("https://fonts.googleapis.com/css?family=Sen|Space+Mono&display=swap");
html, body {
  background-color: #FEFDF9;
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif; }

.landing-container {
  height: 100vh;
  width: 100%;
  background: #843DC2;
  background: linear-gradient(180deg, #600B96 0%, #843DC2 30%, #C376FF 100%);
  user-select: none; }

.landing-image {
  position: absolute;
  width: 100vw;
  margin-left: -150px;
  margin-top: 8rem;
  max-width: 1800px; }
  .landing-image img svg {
    color: #FEFDF9; }

.landing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.landing-logo {
  width: 80vw;
  max-width: 1300px;
  margin: 10rem 0 3rem 2rem; }
  .landing-logo img {
    width: 70vw;
    max-width: 500px; }
  @media only screen and (max-width: 1200px) {
    .landing-logo {
      margin-left: 0; } }

.landing-text {
  display: flex;
  justify-content: space-between;
  font-family: 'Sen', sans-serif;
  color: #FEFDF9;
  font-size: 3rem;
  width: 80vw;
  max-width: 1300px; }
  .landing-text .title {
    font-weight: 900;
    margin-left: 4rem;
    font-size: 50px; }
  .landing-text .organizer {
    display: flex;
    align-items: center; }
    .landing-text .organizer div {
      margin: 0 2rem; }
    .landing-text .organizer img {
      height: 3rem;
      margin-right: 2rem; }
  @media only screen and (max-width: 500px) {
    .landing-text {
      flex-direction: column;
      font-size: 2rem; }
      .landing-text .title {
        font-size: 2.5rem; }
      .landing-text .organizer img {
        height: 10px; } }
  @media only screen and (max-width: 830px) {
    .landing-text .organizer div {
      margin: 0 1rem 0 0; }
    .landing-text .organizer img {
      height: 2rem; } }
  @media only screen and (max-width: 1200px) {
    .landing-text {
      flex-direction: column; }
      .landing-text .title {
        margin-left: 0; } }

#navbar-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FEFDF9;
  z-index: 1000; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 1300px;
  transition: box-shadow 100ms ease-in-out; }
  .navbar .navbar-logo {
    padding: 2rem;
    width: 100px;
    user-select: none;
    cursor: pointer; }
    @media only screen and (max-width: 830px) {
      .navbar .navbar-logo {
        padding: 1rem; } }
  .navbar .navbar-links {
    display: flex;
    align-items: center;
    color: #13D4B0;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none; }
    .navbar .navbar-links div {
      padding: 5px;
      margin: 0 10px; }
    .navbar .navbar-links .navbar-link {
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      transition: all 100ms ease-in-out; }
      .navbar .navbar-links .navbar-link:hover {
        color: #1DE8DB;
        border-bottom: 2px solid #1DE8DB; }
      @media only screen and (max-width: 500px) {
        .navbar .navbar-links .navbar-link {
          display: none; } }
      @media only screen and (max-width: 830px) {
        .navbar .navbar-links .navbar-link {
          display: none; } }
    .navbar .navbar-links .navbar-button {
      color: white;
      background-color: #13D4B0;
      border-radius: 100px;
      width: 12rem;
      text-align: center;
      margin: 0 20px;
      padding: 10px;
      font-weight: 900;
      transition: all 100ms ease-in-out; }
      .navbar .navbar-links .navbar-button:hover {
        background-color: #1DE8DB; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.26); }

.sticky + .content-wrapper {
  padding-top: 6rem; }

.active {
  color: #18C3F2; }

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.content {
  width: 100%;
  max-width: 1000px; }

.content-section {
  margin: 10rem 0;
  padding: 10rem 0; }
  .content-section .section-header {
    color: #843DC2;
    font-size: 4rem;
    font-weight: 900;
    margin: 0 3rem 5rem 3rem;
    z-index: 999;
    position: relative; }
  .content-section .section-text {
    font-family: 'Space Mono', monospace;
    color: #2F2A33;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 3rem;
    max-width: 800px;
    z-index: 999;
    position: relative; }
    .content-section .section-text ul {
      list-style: none;
      padding: none;
      line-height: 200%; }
      .content-section .section-text ul li::before {
        content: "\2022";
        color: #13D4B0;
        width: 1rem;
        margin: 0 1rem 0 -2rem; }
    .content-section .section-text img {
      border-radius: 3rem;
      width: 100%;
      max-width: 30rem;
      margin: 2rem 0; }
  .content-section .section-image {
    z-index: 1; }
  @media only screen and (max-width: 830px) {
    .content-section {
      padding: 0;
      margin: 10rem 0; }
      .content-section .section-header {
        font-size: 3rem;
        margin: 0 2rem 4rem 2rem; }
      .content-section .section-text {
        margin: 0 2rem 0 2rem;
        font-size: 1.2rem; } }
  @media only screen and (max-width: 500px) {
    .content-section {
      margin: 5rem 0; }
      .content-section .section-header {
        font-size: 2rem;
        margin: 0 1rem 2rem 1rem; }
      .content-section .section-text {
        margin: 0 1rem;
        font-size: 1.2rem; }
        .content-section .section-text img {
          border-radius: 2rem;
          width: 90%;
          height: 90%; } }

#janne {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
  max-width: 1000px; }
  #janne:nth-child(0) {
    width: 60%; }
  @media only screen and (max-width: 830px) {
    #janne {
      flex-direction: column;
      justify-content: center; } }

.section-image {
  z-index: 0;
  position: absolute;
  width: 100vw; }
  @media only screen and (max-width: 830px) {
    .section-image {
      display: none; } }
  .section-image img {
    z-index: 1; }

#img1 {
  right: 0;
  width: 93%;
  margin-top: 2rem; }

#img2 {
  left: 0;
  width: 60%;
  margin-top: 45rem; }

#img3 {
  right: 0;
  width: 35%; }

#img4 {
  left: 0;
  width: 50%;
  margin-top: 5rem; }

.register-wrapper {
  background: #13D4B0;
  background: linear-gradient(180deg, #13D4B0 0%, #13D4B0 40%, #07C3AD 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; }

.register {
  width: 100%;
  max-width: 1000px;
  margin: 20rem 0; }
  .register .register-header {
    color: #FEFDF9;
    font-size: 4rem;
    font-weight: 900;
    margin: 0 3rem 5rem 3rem; }
  .register .register-block {
    margin: 0 3rem 4rem 3rem; }
    .register .register-block p {
      font-size: 1.2rem;
      font-family: 'Space Mono', monospace; }
    .register .register-block a {
      text-decoration: none;
      text-align: center;
      padding: 1.3rem; }
      .register .register-block a .button {
        padding: 1.5rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        border-radius: 4rem;
        transition: all 100ms ease-in-out; }
      .register .register-block a .primary {
        background-color: #843DC2;
        color: white; }
        .register .register-block a .primary:hover {
          background-color: #FEFDF9;
          color: #13D4B0; }
      .register .register-block a .secondary {
        border: 2px solid #843DC2;
        color: #843DC2; }
        .register .register-block a .secondary:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border: 2px solid #FEFDF9;
          color: #FEFDF9; }
  @media only screen and (max-width: 830px) {
    .register {
      margin: 5rem 0; }
      .register .register-header {
        font-size: 3rem;
        margin: 0 2rem 4rem 2rem; }
      .register .register-block {
        margin: 0 2rem 4rem 2rem; } }
  @media only screen and (max-width: 500px) {
    .register {
      margin: 5rem 0; }
      .register .register-header {
        font-size: 1.5rem;
        margin: 0 1rem 2rem 1rem; }
      .register .register-block {
        margin: 0 1rem 4rem 1rem; } }

.footer-wrapper {
  background-color: #2F2A33;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer {
  width: 100%;
  max-width: 1000px;
  margin: 200px 0;
  color: #FEFDF9; }

.footer-element {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 1rem 5rem 1rem; }
  .footer-element .info-header {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 1rem; }
  .footer-element .info-row {
    font-size: 1.2rem;
    font-family: 'Space mono', monospace; }
  .footer-element a {
    width: 20%;
    min-width: 10rem; }
    .footer-element a img {
      width: 100%; }
  @media only screen and (max-width: 500px) {
    .footer-element {
      flex-direction: column; }
      .footer-element a {
        margin-top: 2rem; } }
